body{
    background-color: rgb(142, 209, 226);
}
.chat-room-header{
    text-align: center;
    color: #57371a;
}
.main-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 40%;
    font-size: larger;
    font-weight: bold;
    color: white;
}
.whole-refresh{
    color: blue;
    position: fixed;
    right: 1%;
    bottom: 7%;
    width: 3rem !important;
    height: 3rem !important;
}
.whole-refresh{
    cursor: pointer;
}
.rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}